[Desktop Entry]
Type=Application
Name=uBeeper
GenericName=Unified Messenger
Comment=The ultimate messaging app 
Terminal=false
Exec=./beeper.wrapper %U
Icon=./icon.png
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#3E53F5
StartupWMClass=Beeper
X-AppImage-Version=4.2.923
MimeType=x-scheme-handler/beeper;
Categories=Network;